.home-page-wrapper {
  position: relative;
  display: block;
  margin: auto;
  width: 80%;
  height: calc(100vh - 250px);
  top: 50px;

  .book-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 300px;
    padding-bottom: 15px;

    .book-card {
      padding-top: 10px;
      display: block;
      margin: auto;
      width: 180px;
      height: 100%;
      color: #ee3e32;
      font-size: 25px;
      font-weight: bold;
      font-family: Poppins, cursive;

      .book-image {
        height: 60%;
        width: 100%;
      }
    }

    .arrow-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 100%;
      margin-right: 5px;
      margin-left: 5px;

      .arrow {
        width: 100%;
      }

      .arrow:hover {
        cursor: pointer;
        border-color: black;
        border-width: 5px;
        border-style: solid;
        border-radius: 10px;
      }
    }
  }

  .recommended {
    width: auto;
    display: flex;
    margin: auto;
    height: 300px;
    background-color: slategray;
    background-blend-mode: screen;
    padding-top: 10px;
    padding-bottom: 10px;

    .promotion {
      width: 300px;
      font-size: 40px;
    }
  }
}