.logo-image {
  position: absolute;
  background-image: url("../resources/output-onlinepngtools.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 350px;
}

.logo-text {
  width: 180px;
  position: absolute;
  color: black;
  font-family: 'Poppins', cursive;
  font-size: 32px;
  font-weight: bold;
  margin-left: 80px;
  margin-top: 40px;
}